  <!--Navbar -->
  <nav class=" navbar navbar-expand-lg navbar-dark bg-dark custom-nav lighten-1">
    <!-- Image and text -->
   
    <a class="navbar-brand font-weight-bold ml-2" href="#">
      <img src="/img/covid-19.svg" width="35" height="35" class="d-inline-block  mr-3 align-top" alt="">
      Covid Stats 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item">
          <a class="nav-link font-weight-bold text-white" href="/world">World</a>
         </li>
         <li class="nav-item">
          <a class="nav-link font-weight-bold text-white" href="#">Continents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold text-white" href="/countries">Countries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold text-white" href="#">Contacts</a>
        </li>
        
      </ul>
     
      <ul class="navbar-nav ml-2 nav-flex-icons">
        <form class="form-inline my-2 my-lg-0 pr-4" action="" method="">
          <input class="form-control mr-sm-2 custom-search " type="search" placeholder="Search for Country" aria-label="Search">
          <button class="btn btn-outline-secondary my-2  font-weight-bold text-white my-sm-0" type="submit">Search</button>
        </form>
        <li class="nav-item avatar pl-2 pr-3">
          <a class="nav-link p-0" href="https://www.linkedin.com/in/tabhay24/">
            <img src="/img/profile-img.jpg" class="rounded-circle z-depth-0"
              alt="Abhay Tiwari" height="35">
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->