
custom-main{
    min-height: calc(100vh - 56px - 61px);
}
.custom-caraousel{
    height: 85vh;
    overflow-y: hidden;
}

.custom-main{
    height: calc(100% - 56px - 61px);
}
.my-container{
    height: 76vh;
    overflow-y: auto;
    margin-bottom: 15px;
    overflow-x: auto;

}
.my-card{
    width: 100%;
    height: 40vh;
   
}
ul {
    list-style-type: none;
  }
ul li{
    font-size: 20px;
    font-weight: bolder;
    font-family:Roboto;
    
  }
.spancard{
    display: block;
    width:50%;
    float: left;
  }
.my-flag{
      display: block;
      margin:auto auto ;
      margin-top: 50px;
      width : 50%;
      height : 45%;
  }
#piechart2{
    height: 400px;
    width:100vw;
  }
thead tr:nth-child(1) th{background: rgb(181, 237, 247); color:black;position: sticky;top: 0;z-index: 10;}
.footer{
    text-align: right;
}

.custom-search{
    padding-right: 20px;
}
.card{
    width: 30vw;
    height: 20vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
body{
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
   
}
.footer{
    margin-bottom: 0;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
.beforehover{
    text-decoration: none; 
    color:white ; 
    font-weight: bolder;
}
.afterhover{
    color : rgb(17, 235, 71);
    text-decoration: none;
    font-size: 20px;
}
#piechart{
    width: 100vw;
    height : 400px;
    background-color : transparent;
   
}
@media screen and (max-width: 600px) {
    .card{
        width: 94vw;
        height: 20vh;
        margin:5px;
        background-color: #00f8ff;
    }
    #piechart{
        margin-left: 30px;
        overflow-x:auto;
        background-color : transparent;
    }
  }